@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #333333;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
}

